body {
    background-color: dimgrey
}
.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.image {
    display: block;
    width: 130px;
}
.title {
    font-family: 'Bungee', cursive;
    font-size:95px;
    margin-top: 0;
    margin-bottom: 0px
}

.discord {
    display: flex;
    width: 100px;
}

.logo-container {
    display: flex;
    flex:1;
    flex-direction: row;
         margin-right:20px;
    
}
.dec-container {
    display: flex;
    width: 450px;
}
.dec-container {
    font-family: 'Pangolin', cursive;
}

.right {
    display: flex;
    padding: 5px;
    background-color: rgba(52,52,52,0.2);
    flex-direction: column;
    width: 460px;
    border-radius: 5px
}

.button-container {
   display: flex;
   flex-direction: row
    
}

.discord-button {
    display: flex;
    background-color: rgb(255,139,27);
    font-family: 'Pangolin';
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 223px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    color:black
}